<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{heading | uppercase}}
  </h1>

 <form [formGroup] = "form">

  <input type="text" name="decimal"
   (ngModelChange) = "decimalChanged(oldValue, newValue = $event)"
   placeholder="decimal" formControlName="decimal">
  <br><br>
  <input type="text" name="binary"
   (ngModelChange) = "binaryChanged(oldValue, newValue = $event)"
   placeholder="binary" formControlName="binary">
  <br><br>
  <input type="text" name="octal" 
   (ngModelChange) = "octalChanged(oldValue, newValue = $event)"
  placeholder="octal" formControlName="octal">
  <br><br>
  <input type="text" name="hexa"
   (ngModelChange) = "hexaChanged(oldValue, newValue = $event)"
   placeholder="hexa" formControlName="hexa">
  <br><br>
  
  
</form>

<h1>========================</h1>
 </div>